<Directory /var/www/html/zend.com/public>
            Options Indexes FollowSymLinks MultiViews
            # changed from None to FileInfo
            DirectoryIndex index.php
            AllowOverride FileInfo
            Order allow,deny
            allow from all
</Directory>